<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116124637798-o8fttemnh2sfglq1i1akvsubfe86i6fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116124637798-o8fttemnh2sfglq1i1akvsubfe86i6fp</string>
	<key>API_KEY</key>
	<string>AIzaSyCw5M0ppkUkSAZwbhE1Ye33rPfGq4tF4_E</string>
	<key>GCM_SENDER_ID</key>
	<string>116124637798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tanjadejong.beerBrewer</string>
	<key>PROJECT_ID</key>
	<string>beerbrewer-a7e42</string>
	<key>STORAGE_BUCKET</key>
	<string>beerbrewer-a7e42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116124637798:ios:dddce925fcaf3b6a186ba7</string>
</dict>
</plist>